.menu__skills-principal{
    height: 400px;
    background: green;
    display: flex;
    flex-wrap: wrap;

    .skills__titulo{
        font-size: 40px;
    }

    .menu__skills-bloco{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}