.sobre__mim-secundario{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background: #EAF2FD;
    
    .sobre__mim-bloco{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: space-evenly;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 15px;

        .sobre__mim-titulo{
            color: #464646;
            font-size: 40px;
            font-weight: 700;
            line-height: 37px;
            
        }

        .sobre__mim-texto{
            color: #464646;
            font-weight: 400;
            font-size: 16px;
            line-height: 25px;
        }
    }
}


@media screen {
    
}
        
