// /* O LESS SÓ FUNCIONA COM O KOALA LIGADO */

// body{
//     box-sizing: border-box;
//     max-width: 1440px;
//     font-family: 'Raleway';
//     margin: 0;
//     padding: 0;
//     line-height: 1;
//     background: #F5F5F5;
// }

// main{
//     display: block;
// }

// ul,li {
//     list-style: none;
// }
// a{
//     text-decoration: none;
// }

// .menu__principal{
//     flex-wrap: nowrap;
//     display: flex;
//     height: 50px;
//     width: 100%;
    
//     .menu__principal-texto{
//         align-items: center;
//         display: flex;
//         justify-content: right;
//         width: 25vw;
//     }

//     .menu__principal-bloco{
//         display: flex;
//         width: 75vw;

//         .menu__lista{
//             align-items: center;
//             display: flex;
//             flex-wrap: wrap;
//             justify-content: space-around;
//             padding-left: 7rem;
//             width: 70%;
//         }
//     }
// }



// .sobre__mim-principal{
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: nowrap;
//     height: 450px;
//     margin: 0 auto;
//     width: 90vw;
//     padding-top: 50px;


//     .sobre__mim-bloco{
        
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         padding-right: 50px;

//         .sobre__mim-titulo{
//             font-weight: 700;
//             font-size: 38px;
//             color: #464646;
//         }

//         .sobre__mim-texto{
//             font-size: 22px;
//             font-weight: 400;
//             line-height: 25.83px;
//             color: #464646;
            
//         }

//         .menu__lista{
//             padding-bottom: 80px;
//             display: flex;
//             flex-wrap: wrap;
//             align-items: flex-start;
//             justify-content: flex-start;
//             gap: 50px;
//         }
//     }

//     .sobre__mim-img{
        
//         img{
//             width: 300px;
//             height: 350px;
//             border-radius: 50%;
//             border: 1px solid black;
//         }
//     }
  
// }




// .sobre__mim-secundario{
//     border: 1px solid red;
//     display: flex;
//     height: 200px;
//     margin: 0 auto;
//     width: 90vw;
// }



// .menu__skills-principal{
    
//     border: 1px solid green;
//     display: flex;
//     flex-wrap: wrap;
//     height: 50px;
//     margin: 0 auto;
//     width: 90vw;

//     .menu__skills-bloco{
//         display: flex;
//         flex-wrap: wrap;
//     }
// }



// .menu__hobbies-principal{
//     border: 1px solid blue;
//     display: flex;
//     flex-wrap: wrap;
//     height: 50px;
//     margin: 0 auto;
//     width: 90vw;

//     .menu__hobbies-bloco{
//         display: flex;
//         flex-wrap: wrap;
//     }
// }



// .menu__formacao{
//     border: 1px solid green;
//     display: flex;
//     flex-wrap: wrap;
//     height: 50px;
//     margin: 0 auto;
//     width: 90vw;
// }



// .menu__profissional{
//     border: 1px solid red;
//     display: flex;
//     flex-wrap: wrap;
//     height: 50px;
//     margin: 0 auto;
//     width: 90vw;
// }



// .menu__contato{
//     border: 1px solid blue;
//     display: flex;
//     flex-wrap: wrap;
//     height: 200px;
//     margin: 0 auto;
//     width: 90vw;
// }


// .menu__footer{
//     border: 1px solid red;
//     display: flex;
//     flex-wrap: wrap;
//     height: 50px;
//     margin: 0 auto;
//     width: 90vw;
// }

body{
    display: block;
    font-family: 'Raleway';
    background: #F5F5F5;}
    
ul,li{
    list-style: none;}
a{
    text-decoration: none;}

@import url(./header.less);
@import url(./sobre__min-principal.less);
@import url(./sobre__mim-secundario.less);
@import url(./menu__skills-principal.less);