body{
    display: block;
    font-family: 'Raleway';
    background: #F5F5F5;}
    
ul,li{
    list-style: none;}
a{
    text-decoration: none;}

@import url(./header.less);
@import url(./sobre__min-principal.less);
@import url(./sobre__mim-secundario.less);
@import url(./menu__skills-principal.less);
@import url(./menu__hobbies-principal.less);
@import url(./menu__formacao.less);
@import url(./menu__profissional.less);
@import url(./menu__contato.less);