body {
  display: block;
  font-family: 'Raleway';
  background: #F5F5F5;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.menu__principal {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  justify-content: space-around;
  width: 100%;
}
.menu__principal .menu__principal-texto {
  color: #464646;
  font-size: 16px;
  font-weight: 600;
}
.menu__principal .menu__principal-bloco {
  width: 60%;
}
.menu__principal .menu__principal-bloco .menu__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu__principal .menu__principal-bloco .menu__lista .lista__conteudo:last-child {
  font-weight: 600;
}
.menu__principal a {
  color: #464646;
  font-size: 15px;
  font-weight: 500;
}
.sobre__mim-principal {
  display: flex;
  flex-wrap: nowrap;
  height: 500px;
}
.sobre__mim-principal .sobre__mim-bloco {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 4vw;
  width: 70vw;
}
.sobre__mim-principal .sobre__mim-bloco .sobre__mim-titulo {
  color: #464646;
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
}
.sobre__mim-principal .sobre__mim-bloco .sobre__mim-texto {
  color: #464646;
  font-size: 23px;
  font-weight: 400;
  line-height: 25px;
}
.sobre__mim-principal .sobre__mim-bloco .menu__lista {
  align-content: flex-start;
  display: flex;
  flex-grow: 0;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: calc(50%);
}
.sobre__mim-principal .sobre__mim-bloco a {
  font-size: 17px;
  font-weight: 500;
  line-height: 18px;
  color: #464646;
}
.sobre__mim-principal .sobre__mim-img {
  width: 400px;
  height: 368px;
  margin: 15px 10px 0 10px;
}
.sobre__mim-principal .sobre__mim-img img {
  width: 352px;
  height: 352px;
  border-radius: 60%;
  border: 1px solid black;
}
.sobre__mim-secundario {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background: #EAF2FD;
  padding: 50px 0;
}
.sobre__mim-secundario .sobre__mim-bloco {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 10px 60px 10px 60px;
  gap: 20px;
}
.sobre__mim-secundario .sobre__mim-bloco .sobre__mim-titulo {
  color: #464646;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
}
.sobre__mim-secundario .sobre__mim-bloco .sobre__mim-texto {
  color: #464646;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
}
.menu__skills-principal {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-evenly;
}
.menu__skills-principal .skills__titulo {
  color: #464646;
  font-weight: 700;
  line-height: 37px;
  font-size: 40px;
  height: auto;
  margin: 0 auto;
}
.menu__skills-principal .menu__skills-bloco {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu__skills-principal .menu__skills-bloco .menu__skills-conteudo {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  height: 150px;
  justify-content: end;
  width: 152px;
  border-radius: 15px;
}
.menu__skills-principal .menu__skills-bloco .menu__skills-conteudo .skills__img {
  margin-left: 20px;
  width: 27px;
}
.menu__skills-principal .menu__skills-bloco .menu__skills-conteudo .skills__texto {
  margin-bottom: 10px;
  margin-left: 20px;
}
.menu__hobbies-principal {
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-evenly;
}
.menu__hobbies-principal .hobbies__titulo {
  color: #464646;
  font-weight: 700;
  line-height: 37px;
  font-size: 40px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}
.menu__hobbies-principal .menu__hobbies-bloco {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.menu__hobbies-principal .menu__hobbies-bloco .menu__hobbies-conteudo {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  height: 150px;
  justify-content: end;
  width: 152px;
  border-radius: 15px;
}
.menu__hobbies-principal .menu__hobbies-bloco .menu__hobbies-conteudo .hobbies__img {
  margin-left: 20px;
  width: 40px;
}
.menu__hobbies-principal .menu__hobbies-bloco .menu__hobbies-conteudo .hobbies__texto {
  margin-bottom: 10px;
  margin-left: 20px;
}
.menu__formacao {
  background: #EAF2FD;
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  justify-content: space-between;
}
.menu__formacao .formacao__titulo {
  align-content: center;
  color: #464646;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  line-height: 37px;
  width: 100%;
}
.menu__formacao .menu__formacao-bloco {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  height: auto;
  justify-content: center;
  width: 100%;
}
.menu__formacao .menu__formacao-bloco .menu__formacao-conteudo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  width: 250px;
}
.menu__formacao .menu__formacao-bloco .menu__formacao-conteudo .formacao__img {
  border-radius: 90px;
  height: 150px;
  width: 150px;
}
.menu__formacao .menu__formacao-bloco .menu__formacao-conteudo .formacao__subtitulo {
  color: #464646;
  font-size: 17px;
  font-weight: 700;
  line-height: 27px;
}
.menu__formacao .menu__formacao-bloco .menu__formacao-conteudo .formacao__texto {
  color: #464646;
  font-size: 15px;
  font-weight: 500;
  line-height: 17px;
}
.menu__profissional {
  background: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content: space-between;
  width: auto;
}
.menu__profissional .profissional__titulo {
  align-content: center;
  color: #464646;
  display: flex;
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  line-height: 37px;
  width: 100%;
}
.menu__profissional .profissional__conteudo {
  display: flex;
  flex-wrap: nowrap;
  gap: 70px;
  justify-content: space-evenly;
  margin: 0 auto;
  width: auto;
}
.menu__profissional .profissional__conteudo .profissional__bloco-img {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}
.menu__profissional .profissional__conteudo .profissional__bloco-img .profissional__img {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.9));
  width: 650px;
}
.menu__profissional .profissional__conteudo .profissional__bloco-info {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  justify-items: center;
  text-align: left;
  width: auto;
}
.menu__profissional .profissional__conteudo .profissional__bloco-info .profissional__subtitulo {
  color: #464646;
  font-size: 22px;
  font-weight: 700;
  line-height: 23px;
}
.menu__profissional .profissional__conteudo .profissional__bloco-info .profissional__texto {
  color: #464646;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.menu__profissional .profissional__conteudo .profissional__bloco-info .profissional__link {
  text-decoration: none;
  width: 1px;
}
.menu__profissional .profissional__conteudo .profissional__bloco-info .profissional__link .profissional__btn {
  background-color: #fff;
  border: 1px solid #2a7ae4;
  color: #2a7ae4;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 40px;
  line-height: 16px;
  width: 100px;
}
.menu__profissional .profissional__conteudo .profissional__bloco-info .profissional__link .profissional__btn2 {
  background-color: #2a7ae4;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  height: 40px;
  line-height: 16px;
  width: 100px;
}

.mensagem-erro {
  color: red;
  display: none;
  font-size: 12px;
}